<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite" data-provider-thread-count="2">
    <parameter name="Url" value="Https://amazon.com"/>   <!-- Parameterize test -->
    <test name="Regression">   <!-- Define a test -->
        <classes>
            <!-- Specify the test classes -->
            <class name="Runner.TestRunner"/>
        </classes>
    </test>
</suite>
